@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,400&family=Roboto:wght@100;300;400;900&display=swap');

:root {
    --sand: rgb(255, 255, 224);
    --pastel-blue: rgb(173, 216, 230);
    --coral: rgb(255, 192, 203);
    font-family: 'Open Sans';
}

img {
    width: 50vw;
    height: 100vh;
}

body {
    margin: 0;
    display: flex;
}

ul {
    padding: 48px 0 36px 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

fieldset {
    position: relative;
    padding: 0 0 0 42px;
    margin: 0;
    background-color: var(--pastel-blue);
    border: none;
    width: 50vw;
}

legend {
    position: absolute;
    top: 10px;
    left: 42px;
    font-size: 1.25rem;
    font-weight: 600;
}

input,
label,
button {
  width: 200px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 100%;
}

input {
    font-size: 0.9rem;
    border: 1px solid #E5E7EB;
    border-radius: 4px;
    padding: 2px 0 2px 6px;
}

.top-container {
    height: 24vh;
    padding: 0 24px;
}

label {
    font-size: 0.75rem;
    padding: 0 0 2px 0;
    font-weight: 600;
}

li {
    padding: 6px 60px 6px 0;
    width: 30%;
}