@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,400&family=Roboto:wght@100;300;400;900&display=swap');

body {
    font-family: 'Open Sans';
    margin: 0;
    display: flex;
    font-size: 17px;
    background-color: rgb(237, 243, 245);
}

img {
    max-width: auto;
    height: 100vh;
}

.left-container {
    position: relative;
}

.icon {
    max-width: 5rem;
    position: absolute;
    top: 0;
    left: 100px;
}

.left-container span {
    position: absolute;
    font-weight: 600;
    font-size: 60px;
    color: rgb(255, 255, 224);
    left: 210px;
    top: 265px;
}

.left-container div {
    background-color: rgba(0, 0, 0, 0.553);
    width: 587.25px;
    height: 150px;
    position: absolute;
    left: 0;
    bottom: 50%;
}

ul {
    padding: 48px 0 36px 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

fieldset {
    position: relative;
    padding: 0 0 0 42px;
    margin: 0;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 6px 6px -6px gray;
    border: none;
}

legend {
    position: absolute;
    top: 10px;
    left: 42px;
    font-size: 1.25rem;
    font-weight: 600;
}

input,
label,
button {
    width: 200px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: inherit;
    font-size: 100%;
    outline: 0;
}

input {
    font-size: 0.9rem;
    border: 1px solid #E5E7EB;
    border-radius: 4px;
    padding: 2px 0 2px 6px;
}

.top-container {
    height: 25vh;
    padding: 12px 60px 12px 42px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

label {
    display: block;
    font-size: 0.75rem;
    padding: 0 0 2px 0;
    font-weight: 600;
}

li {
    padding: 6px 60px 6px 0;
    width: 30%;
    flex: 0 0 auto;
}

.bot-container{
    padding: 36px 42px;
}

.bot-container button {
    border-radius: 6px;
    background-color: rgb(2,101,90);
    color: white;
    padding: 12px 0;
    border: none;
    margin: 0 0 24px 0;
    box-shadow: 1px 1px 5px gray;
}

.bot-container button:hover {
    background-color: rgb(5, 158, 140);
}

a:link {
    color: rgb(2,101,90);
    font-weight: 600;
    text-decoration: none;
}

input:focus {
    box-shadow: 1px 1px 5px gray;
    border: 1px solid blue;
}

.error {
    border: 1px solid red;
}

div.error {
    font-size: 0.7rem;
    color: red;
    border: none;
    display: block;
}